body{
    margin: 0px;
    padding: 0px;
}



*{
    margin: 0px;
    padding: 0px;
}
.navButton{
    display: flex;
    padding: 20px;
    
}
.nav-item{
    margin-left: 40px !important;
    color: white !important;
}
.navColor{
    background-color: purple !important;

}
.nav-link{
    color: white !important;
}
.loginStyle{
    color: white !important;
    font-weight: bold !important;
    font-family: sans-serif !important;

}
.dashboard{
    height: 70px;
    background-color:rgb(217, 219, 221);
    padding: 10px;
}
.placeHolder{
    height: 350px;
    /* max-width: 100%; */
     display: flex;
    justify-content: center;
    align-items: center; 
}
.subplaceHolder{
    /* height: 250px; */
       width: 60%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
   
    padding: 10px;
  
}
/* .messageContainer{
  background-color: bisque;

} */
.mind{
    padding: 10px;
    /* width: 100%; */
    background-color: white;
}

.messagesList{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.submessagesList{
    width: 700px;
    border: 1px solid black;
    margin-left: 40px;
}
.userDetail{
    background-color: white;
    height: 80px;
    display: flex;
    padding: 10px;
    
}
@media(max-width: 480px) {
   .submessagesList{
    max-width: 250px;
    margin-right: 30px;
   }
}