*body{
    margin: 0px;
    padding: 0px;
}

#navBack{
    background-color: purple !important;
    color: white !important;
}

.maincontainer{
    height: 100vh;
    width: 100vw;
   
}
/* .subcontainer{
  
    
} */
.navUl{
    margin-left:20px !important ;
}
.loginStyle{
    color: white !important;
    font-weight: bold !important;
    font-family: sans-serif;

}
.messagesList{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogList{
    
    width: 700px;
    background-color: lightgrey;
    border: 1px solid black;
    margin-left: 40px;
     
}
@media(max-width: 480px) {
    .blogList{
     max-width: 250px;
     margin-right: 30px;
    }
 }